/* html5doctor.com Reset v1.6.1 - http://cssreset.com */

body {
	font-size: 125%;
	background-color: #272822;
	color: lightgray;
}

b {
	color: white;
}

div.title {
	text-align: center;
}

div.article {
	font-family: arial, sans-serif;
	margin: 1.5em;
	max-width: 28em;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

blockquote {
	text-align: center;
	font-style: italic;
	border:solid 1px;
	border-radius: 25px
}

li {
	text-align: left;
	margin: 0.2em;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}

h7 {
	font-size: 1.1em
}

table {
	margin-left: auto;
	margin-right: auto;
	border:solid 1px;
}

td {
	text-align: left;
}
