/* html5doctor.com Reset v1.6.1 - http://cssreset.com */

body {
	font-size: 125%;
	background-color: #272822;
	color: lightgray;
}

b {
	color: white;
}

div.title {
	text-align: center;
	font-family: arial, sans-serif;
}

div.article {
	font-family: arial, sans-serif;
	margin: 1.5em;
	max-width: 28em;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

blockquote {
	text-align: justify;
	font-style: italic;
}

li {
	text-align: left;
	margin: 0.2em;
}

h1,h2,h3,h4,h5,h6,h7 {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 28pt;
}

h2 {
	font-size: 28pt;
}

h3 {
	font-size: 24pt;
}

h4 {
	font-size: 20pt;
}

h5 {
	font-size: 16pt;
}

h6 {
	font-size: 12pt;

}

h7 {
	font-size: 10pt;
}

table {
	margin-left: auto;
	margin-right: auto;
	border:solid 1px;
}

td {
	text-align: left;
}
